.bugs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .bug {
      flex-basis: 28%;
      margin: 1em;
      padding: 1em;
      border: 1px solid  #FA921C;
  }

  button {
    text-align: center;
  }

  .bug__title {
    margin-left: 0;
  }

  .bug__description {
      font-size:large;
      padding: 1em;
  }

  .bug__tags {
    padding-top: 1em;
  }

  .bug__assignee {
    padding-top: 1em;
  }

  .bug__status {
    padding-top: 1em;
  }

  .bug__createddate {
    padding-top: 1em;
  }

  .bugForm {
      margin-left: 1em;
  }

  .allButton {
    border: 0;
    background-color: white;
    text-decoration: underline;
  }

  .myButton {
    border: 0;
    background-color: white;
    text-decoration: underline;
  }

  .search {
    text-align: center;
    padding: 1rem;
}
  .search__box{
    text-align: center;
    padding-bottom: 1.5rem;
}



