.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
.project {
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    border: 1px solid orange;
  }

  button {
    margin: 1em;
  }

  .projectForm {
    margin-left: 1em;
  }

  .project__title {
    margin-left: 0;
  }

  .project__description {
    font-size:large;
    padding-bottom: 1em;
  }

  .project__bugs {
    padding-top: 1em;
  }

  .project__bugs__div {
    padding-top: 1em;
  }

  .allButton {
    border: 0;
    background-color: white;
    text-decoration: underline;
  }

  .myButton {
    border: 0;
    background-color: white;
    text-decoration: underline;
  }